# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
.env
server/.env
client/.env

# Build output
/dist
/client/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE config
.vscode/
